.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3px;
}

.gridCell{
    width: 33vw;
    height: 33vw;
    max-width: 310px;
    max-height: 310px;
    object-fit: cover;
}

.bottomBar{
    background-color: var(--light);
    height: 60px;
    width: 100vw;
    position: fixed;
    top: calc(100vh - 60px);
    z-index: 2;
}