{% extends "planner/layout.html" %}

{% block body %}
    <div class="shape-mobile"></div>
    <div class="hero">
        <div class="pitch">
            <h1 class="hero-text">
                Collaborative <br> Instagram Planner
            </h1>
            <p class="hero-subtext">
                For social media managers and <br> digital marketing agencies
            </p>
            <a href="{% url 'register' %}">
                <button class="cta">
                    Start for Free
                </button>
            </a>
        </div>
        <img class="demo" src="static/demo-1440.png" alt="GridxPlanner Demo" />
    </div>
{% endblock %}