{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}GridxPlan | Instagram Planner{% endblock %}</title>
        <link href="{% static 'planner/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/" ><img class="logo-white" src="static/GridXPlanner-logo-white.svg" alt="GridxPlanner Logo" /></a>
            <a href="/" ><img class="logo" src="static/GridXPlanner-logo.svg" alt="GridxPlanner Logo" /></a>
            <div>
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </div>
        </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>